:root {
    --primary-font: 'PlusJakartaSans-Variable';
    --sub-font: 'Inter-Variable';
    --primary-font-color: #27282C;
    --sub-font-color: #42434A;
    --momo-font: 'JetBrainsMono-Variable';
}

/* PolySans */

@font-face {
    font-family: 'Polysans-Slim';
    src: url('../assets/fonts/PolySans/Polysans-Slim.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Slim.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Slim.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Slim-Italic';
    src: url('../assets/fonts/PolySans/Polysans-Slim-Italic.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Slim-Italic.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Slim-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Neutral';
    src: url('../assets/fonts/PolySans/Polysans-Neutral.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Neutral.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Neutral.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Neutral-Italic';
    src: url('../assets/fonts/PolySans/Polysans-Neutral-Italic.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Neutral-Italic.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Neutral-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Median';
    src: url('../assets/fonts/PolySans/Polysans-Median.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Median.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Median.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Median-Italic';
    src: url('../assets/fonts/PolySans/Polysans-Median-Italic.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Median-Italic.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Median-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Bulky';
    src: url('../assets/fonts/PolySans/Polysans-Bulky.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Bulky.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Bulky.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Polysans-Bulky-Italic';
    src: url('../assets/fonts/PolySans/Polysans-Bulky-Italic.woff2') format('woff2'),
        url('../assets/fonts/PolySans/Polysans-Bulky-Italic.woff') format('woff'),
        url('../assets/fonts/PolySans/Polysans-Bulky-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

/* --- */
/* JetBrains */

@font-face {
    font-family: 'JetBrainsMono-Variable';
    src: url('../assets/fonts/JetBrains/JetBrainsMono-Variable.woff2') format('woff2'),
        url('../assets/fonts/JetBrains/JetBrainsMono-Variable.woff') format('woff'),
        url('../assets/fonts/JetBrains/JetBrainsMono-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-VariableItalic';
    src: url('../assets/fonts/JetBrains/JetBrainsMono-VariableItalic.woff2') format('woff2'),
        url('../assets/fonts/JetBrains/JetBrainsMono-VariableItalic.woff') format('woff'),
        url('../assets/fonts/JetBrains/JetBrainsMono-VariableItalic.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: italic;
}

/* --- */
/* PJS */

@font-face {
    font-family: 'PlusJakartaSans-Variable';
    src: url('../assets/fonts/PJS/PlusJakartaSans-Variable.woff2'), format('woff2'),
        url('../assets/fonts/PJS/PlusJakartaSans-Variable.woff') format('woff'),
        url('../assets/fonts/PJS/PlusJakartaSans-Variable.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-VariableItalic';
    src: url('../assets/fonts/PJS/PlusJakartaSans-VariableItalic.woff2') format('woff2'),
        url('../assets/fonts/PJS/PlusJakartaSans-VariableItalic.woff') format('woff'),
        url('../assets/fonts/PJS/PlusJakartaSans-VariableItalic.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: italic;
}

/* --- */
/* Inter */

@font-face {
    font-family: 'Inter-Variable';
    src: url('../assets/fonts/Inter/Inter-Variable.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Variable.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* --- */
/* InterTight */

@font-face {
    font-family: 'InterTight-Variable';
    src: url('../assets/fonts/InterTight/InterTight-Italic-Variable.woff2') format('woff2'),
        url('../assets/fonts/InterTight/InterTight-Italic-Variable.woff') format('woff'),
        url('../assets/fonts/InterTight/InterTight-Italic-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* --- */
/* --- */
/* --- */

.primary-font {
    font-family: var(--primary-font);
    letter-spacing: -0.35px;
    color: var(--primary-font-color);
}

.sub-font {
    font-family: var(--sub-font);
    color: var(--sub-font-color);
}

.mono-font {
    font-family: var(--momo-font);
    color: var(--primary-font-color);
}
