@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Navigation Bar */
@layer components {
    .flex-generic {
        @apply flex items-center;
    }

    .list-nav-elements > * {
        @apply mx-4 font-semibold text-sm;
    }

    .list-home-elements > * {
        @apply mx-3;
    }
}