@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-font: 'PlusJakartaSans-Variable';
    --sub-font: 'Inter-Variable';
    --mono-font: 'JetBrainsMono-Variable';
}

/* --- */
/* PJS */

@font-face {
    font-family: 'PlusJakartaSans-Variable';
    src: url('../assets/fonts/PJS/PlusJakartaSans-Variable.woff2'), format('woff2'),
        url('../assets/fonts/PJS/PlusJakartaSans-Variable.woff') format('woff'),
        url('../assets/fonts/PJS/PlusJakartaSans-Variable.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}

/* --- */
/* Inter */

@font-face {
    font-family: 'Inter-Variable';
    src: url('../assets/fonts/Inter/Inter-Variable.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Variable.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* --- */
/* JetBrains */

@font-face {
    font-family: 'JetBrainsMono-Variable';
    src: url('../assets/fonts/JetBrains/JetBrainsMono-Variable.woff2') format('woff2'),
        url('../assets/fonts/JetBrains/JetBrainsMono-Variable.woff') format('woff'),
        url('../assets/fonts/JetBrains/JetBrainsMono-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

/* -- Font Classes -- */

.primary-font {
    font-family: var(--primary-font);
    letter-spacing: -0.35px;
}

.sub-font {
    font-family: var(--sub-font);
}

.mono-font {
    font-family: var(--mono-font);
}